<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="id">Employee id</label>
                    <input type="text" id="id" class="form-control" formControlName="id" />
                    <span class="errors" *ngIf="!updateForm.get('id').valid && updateForm.get('id').touched">Enter a valid Id</span>
                </div>
                <div class="form-group">
                    <label for="name">Employee Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name" />
                    <span class="errors" *ngIf="!updateForm.get('name').valid && updateForm.get('name').touched">Enter a Valid name</span>
                </div>
                <div class="form-group">
                    <label for="password">Employee password</label>
                    <input type="password" id="password" class="form-control" formControlName="password" />
                    <span class="errors" *ngIf="!updateForm.get('password').valid && updateForm.get('password').touched">Enter a Valid password</span>
                </div>
                <div class="form-group">
                    <label for="address">Employee Address</label>
                    <input type="text" id="address" class="form-control" formControlName="address" />
                    <span class="errors" *ngIf="!updateForm.get('address').valid && updateForm.get('address').touched">Enter a Valid Address</span>
                </div>
                <div class="form-group">
                    <label for="age">Employee Age</label>
                    <input type="text" id="age" class="form-control" formControlName="age" />
                    <span class="errors" *ngIf="!updateForm.get('age').valid && updateForm.get('age').touched">Enter a Valid Age</span>
                </div>
                <div class="form-group">
                    <label for="company">Employee Company</label>
                    <input type="text" id="company" class="form-control" formControlName="company" />
                    <span class="errors" *ngIf="!updateForm.get('company').valid && updateForm.get('company').touched">Enter a Valid Company</span>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" [disabled]="!updateForm.valid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

