<!--<h2>{{title}}</h2>
<app-addemployee [countFromParent]="count" (countFromChild)="getFromChild($event)"></app-addemployee>
<hr>
<div>
    count from child is {{count}}
</div>
<hr>
<hr>
<router-outlet></router-outlet>
<app-employee></app-employee>-->
    
<div class="navbar navbar-extend-md fixed-top fixed-header">
<div class="container">
<nav>
<a routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/add-user">Add-Employee</a>
</nav>
</div>
</div>
<div class="container pt-5"></div>
<router-outlet></router-outlet>
